<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Hiiiiii</title>
	</head>
	<body>
<!--        <form action="\loginA" method="post">-->
<!--        <form action="{{ url_for('data')}}" method="post">-->
        <form action="{{ url_for('data') }}" method="post">
        <label>Name</label>
        <input type="text" placeholder="name" name="usrname">
        <label>Pasword</label>
        <input type="password" placeholder="password" name="usrpassword">
        <button type="submit">OK</button>
        </form>
	</body>
</html>